
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Canvas
 */

.whiteboard {
  height: 100%;
  width: 75%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.sidebar {
  height: 100%;
  width: 25%;
  background-color: grey;
  position: absolute;
  right: 0;
}

.usernameTimer {
  height: 50%;
  width: 25%;
  background-color: darkblue;
  position: absolute;
  right: 0;
  bottom: 0;
}

.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.white { background-color: grey; }

.clearCanvas {
  height: 48px;
  width: 48px;
  background-color: pink;
  display: inline-block;
}


/*username*/
.username{
  background-color: black;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
}

h1.usernameTitle {
    font-size: 400%;
    color: white;
}

input.usernameInput {
    background-color: black;
    caret-color: white;
    outline: none;
    border-color: black;
    border-bottom-color: white;
    color: white;
    font-size: 300%;
    text-align: center;
}
