
<h1>All users</h1>

<% @users = User.all %>
<% @users.each do |user| %>
<ul>
  <li>
    Name : <%= user.name %><br/>
    Email : <%= user.email %><br/>
    Created : <%= user.created_at.localtime.strftime('%e %b %y, %l:%M %p') %><br/>
  </li>

</ul>
<% end %>
