<h1>Users#index</h1>
<h1>View all users</h1>

<% @users = User.all %>
<% @users.each do |user| %>
<ul>
  <li>
    Name : <%= user.name %><br/>
    Email : <%= user.email %><br/>
  </li>

</ul>
<% end %>
