<h1>All Promos</h1>

<% @adverts.each do |advert| %>
<h3>Title: <%= advert.title %> </h3>
  <% if advert.advert_image.length > 0 %>
  <img src="<%= advert.advert_image %>" alt="Event Image">
  <% end %>

  <br>
  <h3>Description:<%= advert.description %><br></h3>
<% end %>
