<h1>All Promos</h1>

<% @adverts.each do |advert| %>
<p>Title: <%= advert.title %> </p>
  <% if advert.advert_image.length > 0 %>
  <img src="<%= advert.advert_image %>" alt="Event Image">
  <% end %>

  <br>
  <p>Description:<%= advert.description %><br></p>

  <br>
  <p>Posted by:<%= advert.user.name %><br></p>

<% end %>
