<h1>All Promos</h1>

<% @adverts.each do |advert| %>
  <h3><%= advert.title %></h3><br>
  <img src="<%= advert.advert_image %>" alt="Event Image">
  <br>
  <p><%= advert.description %><br></p>
<% end %>
