@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

.field {
  padding: 10px 0;
}

.card {
  margin: 10px 5px;
  text-align: center;
}

img {
  margin: 20px auto 10px auto;
}


.center {
  text-align: center;
}
