@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

.field {
  padding: 10px 0;
}

.card {
  margin: 10px 5px;
  text-align: center;
}

.center {
  text-align: center;
}
