/* styling for country squares in homepage */
.country .image {
  height: 250px;
  max-width: 300px;
  position: relative;
}

.country .subtitle {
  font-family: 'Chewy', cursive;
  font-size: 30px;
  text-align: center;
}

.country span{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

/* styling for school cards in language page */
.card {
  border-style: outset;
  padding: 15px;
}
.card:hover {
  background-color: #EDF6F6
}
.card span{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

/* background color for every page */
.App {
  background-color: #F4FBFB
}
